*{
    margin:0;
    padding:0;
}

body{
    background-image: url('../img/bckgrd.png');
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
}
.regform{
    width:800px;
    background-color: rgb(0,0,0,0.6);
    margin:auto;
    color:#FFFFFF;
    padding:10px 0px 10px 0px;
    text-align:center;
    border-radius: 15px 0px 15px 0px;
}
.main{
    background-color:rgb(0,0,0,0.5);
    width:800px;
    margin:auto;
}
form{
    padding:10px;
}
#name{
    width:100%;
    height:100px;
}
.name{
    margin-left:25px;
    margin-top:30px;
    width:125px;
    color:white;
    font-size:18px;
    font-weight: 700px;
}
.firstname{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
}
.lastname{
    position:relative;
    left:417px;
    top:-80px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}
.firstlabel{
    position:relative;
    color:#E5E5E5;
    text-transform:capitalize;
    font-size:14px;
    left:203px;
    top:-45px;
}
.lastlabel{
    position:relative;
    color:#E5E5E5;
    text-transform:capitalize;
    font-size:14px;
    left:178px;
    top:-45px;
}
.company{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    width:480px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}
.email{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    width:480px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}
.code{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    width:95px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;

}
.number{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    width:255px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}
.area-code{
    position:relative;
    color:#E5E5E5;
    text-transform:capitalize;
    font-size:16px;
    left:100px;
    top:-4px;
    }
.phone-number{
    position:relative;
    color:#E5E5E5;
    text-transform:capitalize;
    font-size:16px;
    left:-54px;
    top:-2px;
}
.option{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    width:255px;
    height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
    outline:none;
    overflow:hidden;
}
.option option{
    font-size:20px;
}
#coustomer{
    margin-left:25px;
    color:white;
    font-size:18px;
}
.radio{
    display:inline-block;
    padding-right:70px;
    font-size:25px;
    margin-left:25px;
    margin-top:15px;
    color:white;
}
.radio input{
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    outline:none;
}
button{
    background-color: #3BAF9F;
    display:block;
    margin:20px 0px 0px 20px;
    width:200px;
    height:50px;
    text-align:center;
    border-radius:12px;
    border:2px solid #366473;
    paddding:10px 50px;
    outline:none;
    color:white;
    cursor:pointer;
    transition:0.25px;
}
button:hover{
    background: color #539053;
}